{% extends 'home.html.twig' %}
{% block section3 %}
    <h3 class="title">recepten</h3>
    <a class="button" href="{{ path('receptform') }}">voeg recept toe</a>
    <div id="recepten">
        {% for recept in recepten %}
            <div class="recept">
               datum : {{ recept.datum }}<br/><br/>
               dossis : {{ recept.dossis }}<br/><br/>
               duur : {{ recept.duur }}<br/><br/>
               {# <a class="button" href="{{ path('receptDelete') }}">verwijder recept</a>
                <a class="button" href="{{ path('receptModifi') }}">pas recept aan</a> #}
            </div>
        {% endfor %}
    </div>
{% endblock %}